<mat-sidenav-container class="" hasBackdrop="false">
    <mat-sidenav #sidenav mode="side" [(opened)]="navOpen">
        some content for the side
    </mat-sidenav>
    <div class="sc-wrapper">
        <div class="sc-header">
            <h1>test</h1>
        </div>

        <div class="sc-content">

            <p><button mat-button (click)="sidenav.toggle()">open</button></p>
            <router-outlet></router-outlet>
        </div>

        <div class="sc-footer">
            <div>©️ Silicon Cosmos 2023</div>
        </div>
    </div>

</mat-sidenav-container>