@use "./global_theme.scss" as glob;
// #region [fontawesome]
@use "@fortawesome/fontawesome-free/css/all.css";
// #endregion

@font-face {
  font-family: Montserrat;
  src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

// #region [structured content]
.sc-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sc-header,
.sc-footer {
  flex-shrink: 0;
}

.sc-content {
  flex-grow: 1;
  overflow: auto;
}
// #endregion

// #region [scrollbars]
body {
  $scrollbar-color: glob.$border-bright;
  $scrollbar-size: 5px;

  ::-webkit-scrollbar {
      width: $scrollbar-size;
      height: $scrollbar-size;
  }
  ::-webkit-scrollbar-thumb { 
      background: $scrollbar-color;
      border-radius: 5px;
  }
}
// #endregion
