
// #region [global theme]
$mediaSm: 480px;
$mediaMd: 640px;
$mediaLg: 960px;

$text: #f9fbf9;
$background: #212121;
$primary: #b7ffe3;
$secondary: #b38aff;
$accent: #3b5249;

$background-bright: #313131;
$background-dark: #111111;

$border-bright: #606060;
$border-dim: #303030;

$transition-quick: 300ms;
$transition-slow: 500ms;
// #endregion